version: "3"

services:
  dev:
    build:
      context: .
      dockerfile: ./docker/Dockerfile.dev
    volumes:
      - .:/app
    ports:
      - 4321:4321

  prod:
    build:
      context: .
      dockerfile: ./docker/Dockerfile.prod
    ports:
      - 4321:4321
